body {
	overflow: overlay;
	margin: 0;
	padding: 0;
	background-color: black;
}


.videocontainer {
  z-index: 3;
  min-height: 100%;
  min-width: 290px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: overlay;
}

.ioverlay {
position: relative;
display: inline;
}

.imgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}

.imgvideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.button  {
    background:transparent url("buttonrecord.png") no-repeat 0 0;
    cursor:pointer;
    border: 0;
    width: 64px;
    opacity: 0.5;
    margin-top:  30;
    margin-left: 40;
}

.button:active  {
    background:transparent url("buttonrecord-hover.png") no-repeat 0 0;
    cursor:pointer;
    border: 0;
    width: 64px;
    opacity: 0.5;
}

.button:focus {
  outline: none;
}


.control_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  min-height: 135px;
  z-index: 8;
}

.control_left_box {
  float: left;
  width: 50%;
}

.control_right_box {
  float: right;
  width:50%;
  height: 100%;
}

.joystick_control {
  position: relative;
  width: 100%;
  height: 100%;
}


/*  VIDEO CONFIGURATION */


.debug {
  position: absolute;
  color: white;
  top: 10;
  left: 10;
  z-index: 10;
  opacity: 0.5;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
}